extends diffHead
block content
  textarea(id="convertBox")
  div(id="mergely-resizer" style="height: 450px;")
    button(id="lfbtn") 左边转换
    button(id="rgbtn") 右边转换
    div(id="compare")
  script(src="/webAutomation/javascripts/diff.js")